.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: url("https://image.freepik.com/free-photo/brown-texture_1253-152.jpg");
}

.center {
  justify-content: center !important;
}

.col {
  display: flex;
}

@font-face {
  font-family: "NameCursive1";
  src: url("./assets/font/Tagonda-Ea4o9.ttf") format("truetype");
}

@font-face {
  font-family: "NameCursive2";
  src: url("./assets/font/SweetPattersonDemoRegular-xVXm.ttf")
    format("truetype");
}

@font-face {
  font-family: "NameCursive3";
  src: url("./assets/font/Qristalla-BWqX3.ttf") format("truetype");
}

@font-face {
  font-family: "NameCursive4";
  src: url("./assets/font/Nicholia-p732Z.ttf") format("truetype");
}

@font-face {
  font-family: "NameCursive5";
  src: url("./assets/font/MarvelousScriptDemo-7lGV.otf") format("opentype");
}
