.flying,
.lodging {
  justify-content: center;
}

.cities,
.hotelDesc {
  font-size: 1.6rem;
  text-align: center;
  color: #124a12;
  justify-content: center;
}

.lodgingDesc {
  font-size: 1.4rem;
  color: #124a12;
}

.hotel {
  font-size: 1.7rem;
  justify-content: center;
}
