footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  height: 100px;
}

.trees {
  background-repeat: repeat-x;
  background: url("../../assets/images/Trees.png");
  background-size: 150px;
}
