.partyList {
  font-size: 1.4rem;
  text-align: center;
  color: #124a12;
}

.headParty {
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
}

.portrait {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 40%;
}
