.partyList {
  font-size: 1.2rem;
}

.headParty {
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
}

.portrait {
  max-width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 40%;
}
