@media screen and (max-width: 600px) {
  .centerCabin {
    margin-top: -10px !important;
    width: 100% !important;
  }
}

.mountains {
  height: 100px;
  background-repeat: repeat-x;
  background: url("../../assets/images/Mountains.png");
  background-size: 400px;
  margin-top: 10px;
}

.centerCabin {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -35px;
  width: 45%;
}

.name-date {
  text-align: center;
  color: white !important;
}

.ourName {
  font-family: "NameCursive";
  font-weight: 500;
  font-size: 5.5rem;
  margin-top: -20px;
  margin-bottom: -30px;
}

.ourDate {
  font-size: 3rem;
  margin-top: -20px;
  color: black;
}

.ourLocation {
  font-size: 2rem;
  margin-top: -10px;
  color: black;
}
