.aboutMe {
  font-size: 1.6rem;
  text-align: center;
}

.celebrate {
  font-size: 2.4rem;
}

.test1 {
  color: #175a17;
}

.test2 {
  color: #134d13;
}

.test3 {
  color: #124a12;
}

.test4 {
  color: #0f3f0f;
}

.test5 {
  color: #0c330c;
}
